<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand mr-4" style="font-family: 'Pacifico', cursive; font-size:30px;"
      href="{% url 'home' %}">GramApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle" style="font-family: 'Pacifico', cursive; font-size:30px;">
      <a class="" href="{% url 'home' %}"><i class="fa fa-instagram" style="font-size:30px;color:black"></i></a>
      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
        <input style="border-radius: 70px;" class="form-control mr-sm-2" type="search" name="username"
          placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fa fa-search"></i>

        </button>
      </form>
      <div class="navbar-nav" style="font-family: 'Pacifico', cursive; font-size:30px;">
        {% if user.is_authenticated %}
        <a style="color: black;" class="nav-item nav-link" href="{% url 'upload_image'%}">PostGram</a>
        <a class="nav-link open-nav" href="{% url 'profile' %}"><i class="fa fa-user"
            style="font-size:30px;color:black">{{user}}</i></a>
        <a style="color: black;" class="nav-item nav-link" href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
        {% else %}
        <a style="color: black;" class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>