{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <div class="row">
      <!-- Empty div -->
      <div class="col-md-3"></div>
      <div class="col-md-6" style="font-family: 'Pacifico', cursive; font-size:30px;">
        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-outline-info btn-lg" value="post">
        </form>
    </div>
    </div>
    </div>
{% endblock %}







